<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931888718719-oqepsibcej6qeirg2nl7ehba17vkd432.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931888718719-oqepsibcej6qeirg2nl7ehba17vkd432</string>
	<key>API_KEY</key>
	<string>AIzaSyDPDtmPBc0r0WYdnNiUVfB6Bmewiie2clo</string>
	<key>GCM_SENDER_ID</key>
	<string>931888718719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gratitude-Journal</string>
	<key>PROJECT_ID</key>
	<string>gratitude-journal-484fc</string>
	<key>STORAGE_BUCKET</key>
	<string>gratitude-journal-484fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931888718719:ios:fab0b111240ef36de0b04a</string>
</dict>
</plist>